<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<test name="test1">
		<classes>
			<class name="org.test1.App">
			</class>
		</classes>
	</test>

	<test name="test2">
		<classes>
			<class name="org.test1.App2">
			</class>
		</classes>
	</test>

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.web.utils.RetryListener" />
	</listeners>

</suite> <!-- Suite -->
